{
   "endOfLine": "lf",
   "singleQuote": true,
   "tabWidth": 3,
   "arrowParens": "always",
   "bracketSpacing": true,
   "trailingComma": "all",
   "semi": true,
   "printWidth": 120,
   "singleAttributePerLine": true,
   "overrides": [
      {
         "files": "**/*.yaml",
         "options": {
            "tabWidth": 2
         }
      }
   ]
}
