@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html,
body {
   width: 100vw;
   height: 100vh;
   font-family: 'Alfa Slab One', cursive;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#app {
   display: flex;
   flex-flow: row nowrap;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
}

@keyframes _word_popup {
   0% {
      transform: scale(0.8);
   }
   80% {
      transform: scale(1.3);
   }
   100% {
      transform: scale(1);
   }
}

.stop-modal {
   background-color: white;
   border-radius: 10px;
   font-size: 50px;
   align-items: center;
   justify-content: center;
   display: flex;
   width: 100%;
}

.modal-in {
   animation: modal_anim 0.15s;
}

.modal-out {
   animation: modal_anim 0.15s reverse;
}

@keyframes modal_anim {
   0% {
      transform: scale(1.3);
      opacity: 0;
   }

   100% {
      transform: scale(1);
      opacity: 1;
   }
}